{
	"useTabs": false,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 90,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
